* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu {  
  color: rgb(223,255,255);
  display: flex;
  flex-direction: column;
  font-family: averta;
  font-size: 10pt;
  letter-spacing: 1px;
  width: auto;
}

.menuItemMeuNeon,
.menuItem {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: middle;
  width: auto;  
}

.menuItemMeuNeon {
  justify-content: left; 
}

.menuItem img {
  width: 5%;
}

.neonMais{
  border: 1px solid rgb(31,192,236);
  border-radius: 20px;
  color: rgb(31,192,236);
  font-size: 8pt;
  /* superior | direita | inferior | esquerda */
  margin-left: 15px;
  padding: 5px 7px 5px 7px;
}

.neonMais i {
  color: rgb(31,192,236);
  font-size: 8pt;
  margin-right: 0;
  padding: 0;
}

section {
  height: auto;
  width: auto; 
}
    
article {
  height: calc(100vh/6.5);
}

article i {
  font-size: 14pt;
  padding-right: 10px;
}

img{
  height: 100px;
  width:100px
}

@font-face {
	font-family:"averta";
	src: url('../fonts/AvertaDemoPECuttedDemo-Regular.otf');
}


/* background dos items menu */

.azulEscuro {
  background-color: rgb(0,69,160);
}

.azulIntermediario {
  background-color: rgb(0,115,204);
}

.azulClaro {
  background-color: rgb(0,165,239);
}

.verdeClaro {
  background-color: rgb(0,216,215);
}

.verdeIntermediario {
  background-color: rgb(0,160,160);
}

.verdeEscuro {
  background-color: rgb(0,130,130);
}



